.grafAppBar {
    background: linear-gradient(to right, #536976, #292e49);
}

.answerInput {
    width:80%;
    margin: 12px auto;
    border: 1px solid #dbe2e8;
    font-size:14px;
    padding: 12px;
    border-radius:2px;
    color:#636363;
    font-family: 'Work Sans,',sans-serif;
    box-shadow: 0 2px 2px 0 rgba(46, 60, 73, 0.05);
    outline:none;
}

.grafFormSelect {
    width: 80%!important;
    margin: auto!important;
}

.helpText {
    color: gray!important;
    font-style: oblique!important;
}
