.editFormDialog {
    text-align: center;
    padding: 0!important;

    .form {
        justify-content: center;
        align-items: center;
        font-family:'Work Sans',sans-serif;
        background: #efefef;

        .form-container {
            padding: 0;
            overflow-x: hidden;
        }

        .control-buttons {
            justify-content: space-between;
            padding: 14px;

            .delete {
                background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
                box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
                border: 0;
                border-radius: 3px;
                color: white;
                height: 48px;
                padding: 0 30px;
            }


            .edit {
                background: linear-gradient(45deg, #2196F3 30%, #21CBF3 90%);
                box-shadow: 0 3px 5px 2px rgba(33, 203, 243, .3);
                border: 0;
                border-radius: 3px;
                color: white;
                height: 48px;
                padding: 0 30px;
            }
        }

    }
}

