.left {
    padding-bottom: 0;
    width: 200px;
    min-width: 200px;
    position: relative;
}

.right {
    padding-left: 0;
    padding-bottom: 0;
    background: #828282;
    margin-left: 200px;
    width: auto;
}
