.questionItem {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 0 20px 0;
    background-color: #ffffff80;
    border: 1px solid #efefef;
    box-sizing: border-box;
    user-select: none;
    color: #333;
    font-weight: 400;
    z-index: 5;
        p {
            margin: 0 15px;
        }
}

.questionList {
    padding: 0;
    position: relative;
    z-index: 0;
    border-radius: 3px;
    outline: none;
    min-height: 100vh;
    background: #8e8e8ede;
    overflow: auto;
    margin: 0;
    box-shadow: 1px 0 10px 0 #000000b8;
}

.SortableCls Header {
    .mdl-layout__header-row {
        padding: 12px;
    }
}

.editBtn {
    position: absolute!important;
    right: 8px;
}

