#treeWrapper {
    width: 100%;
    height: calc(100vh - 64px - 65px);
    background: #222;
    position: relative;

    .nodeNameBase {
        fill: #ffffff;
        stroke: #ffffff;
        stroke-width: 0.1px;
    }

    .grafToolBar {
        box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
        .grafToolBarChip {
            flex-grow: 1;
            color: inherit;

            .grafChip {
                background: linear-gradient(to right, rgb(255, 95, 139), rgb(139, 119, 177));
                font-size: 16px;
                box-shadow: rgba(205, 48, 83, 0.19) 0 3px 5px 2px;
            }
        }

        .grafToolBarBtm {
            margin: 8px;
        }
    }

}
