.EmptyList {
    .empty-grid {
        height: calc(100vh - 64px - 48px);
        border-right: 1px solid #0e0e0e24;
        background: #29282891;

        .noIcon {
            position: absolute;
            top: 35%;
            width: 100%;
            color: white;
            font-size: 165px;
        }
    }
}
