#treeWrapper {
    width: 100%;
    height: calc(100vh - 64px - 65px);
    background: rgb(236, 236, 236);
    position: relative;

    .grafToolBar {
        .grafToolBarChip {
            flex-grow: 1;
            color: inherit;

            .grafChip {
                background: linear-gradient(to right, rgb(255, 95, 139), rgb(139, 119, 177));
                font-size: 16px;
                box-shadow: rgba(205, 48, 83, 0.19) 0 3px 5px 2px;
            }
        }

        .grafToolBarBtm {
            margin: 8px;
        }
    }

}
