.back_up_item {
    border-bottom: 1px solid #06060626!important;
}

.myAvtar {
    box-shadow: 1px 1px 3px #00000085;
}

.mySelected {
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%) !important;
    box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3);

    span, p {
        color: white !important;
    }
}

.backupList {
    box-shadow: 0 0 3px #dcdcdc;
    height: calc(100vh - 113px);
}
