.myList {
    position: relative;
    height: calc(100vh - 64px - 48px);
    border-right: 1px solid #0e0e0e24;
    background: #29282891;
    padding-bottom: 0;
    margin-bottom: 0;

    .searchWrp {
        min-height: 45px;
        background: #a29599;

        .searchCnt {
            width: 100%;

            .searchIcn {
                width: 72px;
                height: 100%;
                display: flex;
                position: absolute;
                align-items: center;
                pointer-events: none;
                justify-content: center;
            }

            .searchInp {
                width: 100%;
                transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                padding: 8px 8px 8px 80px;
            }
        }
    }


    .questionItem {
        color: #111;
        background: linear-gradient(to left, #e7b5b3, #ffd9b2);
        box-shadow: 0 0 3px -1px #d82d4573;
        margin: 0;
    }

    .objectItem {
        color: #111;
        background: linear-gradient(to right, #e5a3fb, #f9b0b0);
        box-shadow: 0 0 3px -1px #d82d4573;
        margin: 0;
    }

    .myAdd {
        width: 100%;
        bottom: 24px;
        position: fixed;
        text-align: right;
        padding-right: 8px;
    }

}
