.ResultForm {
    padding: 15px;

    p {
        font-size: 22px;
        margin-bottom: 6px;
        padding-left: 10px;
    }
    .pre {
        white-space: pre-wrap!important;
        word-wrap: break-word!important;
    }

    .resTable {
        background: #fff;
        box-shadow: 1px 1px 3px 0 #00000033;
        border: none;
        margin: 15px auto;
    }
}
