.shwQst {
    background-color: #afafaf;
    padding: 8px;
    height: calc(100vh - 65px);
    box-shadow: -3px 0px 5px #0000006b;
}

.dltAvto {
    th {
        padding: 15px;
    }

    tbody {
        tr {
            background: #d6d6d6;
        }

        tr:hover {
            background-color: #868686 !important;
        }
    }
}

.dltObj {
    background-color: #e6e4e4 !important;
    box-shadow: -4px 0px 3px #0000000f !important;
    height: calc(100vh - 65px)
}
