.showNode {
    display: flex;
    background: #dedede;
    height: calc(100vh - 48px - 64px);

    .objectInfo {
        padding: 15px;
        text-align: left;

        h4{
            margin: 0;
            color: gray;
        }

        .objInfoHr {
            border-top: 3px solid rgb(131, 63, 178);
            width: 80%;
            margin-left: 0;
        }
    }

    .dopInfo {
        text-align: left;
        background: #27221f;
        color: #fff;
        padding: 15px;
        height: 100%;

        pre {
            white-space: pre-wrap;
            word-wrap: break-word;
        }
    }
}
.showQst {
    padding: 15px;
}
