.showNode {
    display: flex;
    background: #dedede;
    height: calc(100vh - 48px - 64px);

    .objectInfo {
        padding: 15px;
        text-align: left;

        h4{
            margin: 0;
            color: gray;
        }

        .objInfoHr {
            border-top: 3px solid rgb(131, 63, 178);
            width: 80%;
            margin-left: 0;
        }
    }

    .avtoInfo {
        padding: 0;
        overflow-x: auto;

        table {
            width: 100%;
            border-collapse: collapse;

            thead {
                background: #27221f;
                color: white;
                box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);

                th {
                    padding: 12px;
                }
            }

            tbody {
                tr {
                    td {
                        padding: 8px;
                    }
                }
                tr:hover {
                    background: #27221f85!important;
                    cursor: pointer;
                    color: white;
                }

                tr:nth-child(2n) {
                    background-color: #fbe5e5;
                }
            }
        }
    }


    .dopInfo {
        text-align: left;
        background: #27221f;
        color: #fff;
        padding: 15px;
        height: 100%;

        pre {
            white-space: pre-wrap;
            word-wrap: break-word;
        }
    }
}

.showQst {
    padding: 15px;
}

.showErrorNode {
    table {
        width: 100%;
        border-collapse: collapse;

        thead {
            background: #584d49;
            color: white;
            box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);

            th {
                padding: 12px;
            }
        }

        tbody {
            tr {
                td {
                    padding: 8px;
                }
            }
            tr:hover {
                background: #27221f85!important;
                cursor: pointer;
                color: white;
            }

            tr:nth-child(2n) {
                background-color: #9e9b99;
            }
        }
    }
}
